:root {
    --color-text-light: #ffffff;
    --color-text-dark: #000000;
    --color-text-offwhite: #f9f9f9;
    --header-bg: #444278;
    --nav-button-bg: #aaa7eb;
    --plans-bg: #000000;
    --gradient-start: #070b34;
    --gradient-end: #855988;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--gradient-start);
    color: var(--color-text-light);
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.page-container {
    max-width: 1049px;
    margin: 0 auto;
    background-color: var(--color-text-light);
    overflow: hidden;
}